/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 430px;
    height: 932px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.header {
    background-color: #2f3b82;
    width: 100%;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    padding-top: 100px;
    text-align: center;
    padding: 20px;
}

.greeting {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.option {
    background-color: #0f1a45;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    text-align: center;
}

.option img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.option p {
        display: flex;
        align-items: center;
        justify-content: center; /* Centraliza na horizontal */
        gap: 8px; /* Espaço entre o texto e o ícone */
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: left; /* Remove o efeito centralizador que pode estar deslocando a caneta */
    }
    
    .edit-icon {
        width: 10px;
        height: 10px;
        cursor: pointer;
    
}
